@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo personalizado para el scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #85d3e9;
  border-radius: 10px;
  border: 5px solid #868686;
}

.custom-scrollbar-aside::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar-aside::-webkit-scrollbar-track {
  background: #0e0e0e;
}